
* {
    margin: 5px;
}


/* Navigation */



nav {
    display:flex;
    justify-content: flex-end;
    z-index: 2;
    position: relative;
}




nav a {
    font-family:'Mulish',sans-serif;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
}


/* Hamburger Menu */

/*.menu-btn {
    margin: 5px;
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s; 
}

.flip {
    transform: rotate(90deg);
}*/



.sub-menu {
    min-width: 479px;
    min-height: 250px;
    right: 0px;
    top: -200px;
    background-color: #74DAE0;
    border: 2px solid #64BFBA;
    border-radius: 164px;
    z-index: 0;
    position: absolute;
    transform: translate(100px, 200px);
}

.twomorelinks {
    margin: 20%;
    padding: 20%;
    display: block;
    flex-direction: column;

}

span {
    margin: 0;
}
  
  .topnav {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
  }
  
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    color: #64BFBA;
  }
  
  .topnav a.active {
    color: black;
  }
  
  .topnav .icon {
    display: block;
  }
  
  .topnav div:not(.sub-menu-show) {display: none;}

  .topnav a.icon {
    float: right;
    display: block;
    -moz-transition:ease-in-out 300ms;
    -webkit-transition:ease-in-out 300ms;
    transition:ease-in-out 300ms; 
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    right: 0;
    top: 0;
    -moz-transition:ease-in-out 300ms;
    -webkit-transition:ease-in-out 300ms;
    transition:ease-in-out 300ms; 
    transform:rotate(90deg);
  }
  .topnav.responsive div {
    float: none;
    display: block;
    text-align: left;
  }
.topnav.responsive.sub-menu-active {
    -moz-transition:ease-in-out 300ms;
    -webkit-transition:ease-in-out 300ms;
    transition:ease-in-out 300ms; 
}

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      right: 0;
      top: 0;
    }
    .topnav.responsive div {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav .twomorelinks, .topnav .twolinks {display: none;}
  }


/* Header Content */

.largecircle {
    position: relative;
    width: 670.41px;
    height: 700px;
    left: -30px;
    top: -150px;
    z-index: 1;
}

.smallcircle {
    position: absolute;
width: 273.46px;
left: 250px;
top: 380px;
z-index: 2;
}

.logo {
    position: relative;
width: 76.15px;
height: 40px;
left: 670px;
top: 100px;
}

header {
    position: relative;
}

header h1 {
    position: relative;
    flex-wrap: wrap;
width: 375px;
left: 770px;
bottom: 630px;
font-family: 'Playfair Display', serif;
font-style:inherit;
font-weight:lighter;
font-size: 40px;
line-height: 53px;
color: #272626;
}

header p1 {
    position: relative;
    display:block;
    margin: auto;
    max-width: 50%;
    left: 300px;
    bottom: 600px;
font-family: "Mulish";
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 45px;
color: #272626;
}



/* My Work Content */

body h2 {
    position: relative;
    display:flex;
width: 284px;
left: 1102px;
bottom: 300px;
font-family: 'Playfair Display', serif;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 80px;
color: #272626;
}

.travlbee {
    position: relative;
    display: flex;
width: 752px;
left: 28px;
bottom: 200px;
border-radius: 41px;
}

body p2 {
    position: relative;
    display: block;
    max-width: 45%;
left: 802px;
bottom: 600px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #000000;
}

body {
    background-image: url(/Users/kaykay/Documents/UX_UI_HW_18_2/images/circlegrid1.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size:initial;
}

.btn1 {
    position: relative;
    display: flex;
width: 246px;
height: 55px;
left: 802px;
bottom: 580px;
justify-content:space-evenly;
align-items: center;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
background: #000000;
border-radius: 26px;
border: 2px solid #000000;
cursor: pointer;
}

.btn1:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
}

.spark {
    position: relative;
    display: flex;
    width: 643px;
    right: 60%;
    left: 740px;
    bottom: 200px;
    border-radius: 41px;
}

body p3 {
    position: relative;
    text-align: right;
    display:block;
    max-width: 45%;
left: 80px;
bottom: 800px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: right;
color: #000000;
}

.btn2 {
    position: relative;
    margin-left: 28%;
    display: flex;
    width: 246px;
    left: 80px;
    bottom: 780px;
    height: 55px;
    justify-content:space-evenly;
align-items: center;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
background: #000000;
border-radius: 26px;
border: 2px solid black;
cursor: pointer;
}

.btn2:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
}

.benefitsgov {
    position: relative;
    display: flex;
    width: 643px;
    left: 31px;
    bottom: 250px;
    border-radius: 41px;
}

body p4 {
    position: relative;
    display: block;
    max-width: 45%;
left: 710px;
bottom: 850px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #000000;
}

.btn3 {
    position: relative;
    display: flex;
    width: 246px;
    left: 710px;
    bottom: 830px;
    height: 55px;
    justify-content:space-evenly;
align-items: center;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #FFFFFF;
background: #000000;
border-radius: 26px;
border: 2px solid black;
cursor: pointer;
}

.btn3:hover {
    background-color: white;
    color: #000000;
    border: 2px solid #000000;
}


/* Footer */

footer h1 {
    position: relative;
    display: flex;
    text-align: center;
    margin-left: 40%;
    bottom: 230px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 60px;
color: #000000;
}

footer p5 {
    position: relative;
    display: flex;
    justify-content: center;
width: 544px;
height: 50px;
margin-left: 30%;
bottom: 210px;
font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: center;

color: #000000;

}

.flex-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    bottom: 230px;
    width: 40px;
    height: 60px;
}




.circlegrid2 {
    position: absolute;
    margin-left: 20%;
    margin-top: -8%;
}




